.wp-block-ba11y-checks-example-album-card {
	background-color: #fff;
	color: #2f2f2f;
    border: 1px solid #adadad;
	padding: 20px 24px;
    border-radius: var(--ba11y-check-example-card-grid-radius);

    h2, h3, h4, p {
        margin: 0;
    }

    h2, h3, h4 {
        font-size: var(--wp--preset--font-size--medium);
        margin-bottom: 18px;
    }

    .release-date {
        font-size: var(--wp--preset--font-size--small);
        font-style: italic;
    }
    
    p {
        font-size: var(--wp--preset--font-size--small);
        line-height: 1.5;
        
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
    
}
