.wp-block-multi-block-check-example-movie-card {
	background-color: #fff;
	color: #2f2f2f;
    border: 1px solid #adadad;
	padding: 24px 32px;
    border-radius: 8px;

    h2, p {
        margin: 0;
    }

    h2 {
        margin-bottom: 12px;
    }
    
    p {
        margin-bottom: 8px;
    }
}
